#headerComp {
  width: 100%;
}

#upperPart {
  height: 200px;
  background-color: black;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
  box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
}

#profilePic {
  height: 70%;
  border-radius: 50%;
  border: 3.5px solid white;
  position: relative;
  left: 20px;
  bottom: -95px;
}

#upperPart #message {
  position: relative;
  left: 75%;
  top: 65px;
}

#upperPart #message #button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 4px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 17px;
}

#upperPart #message span {
  font-weight: bold;
  font-size: 28px;
  color: rgb(97, 97, 97);
  margin-left: 15px;
}

#lowerPart {
  background-color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
  box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
}

#lowerPart #leftSide {
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
}
#lowerPart #leftSide #name {
  display: inline-block;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}
#lowerPart #leftSide #jobTitle {
  display: inline-block;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

#lowerPart #leftSide li {
  display: inline-block;
  margin-right: 10px;
}
#lowerPart #leftSide ul {
  padding-left: 0;
  margin: 0;
}

#lowerPart #rightSide {
  display: flex;
}
#lowerPart #rightSide p {
  margin-top: 5px;
  margin-left: 15px;
}
#lowerPart #leftSide a {
  text-decoration: none;
  font-weight: 600;
  color: #0a66c2;
}

#experiencesContainer {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
  box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
  margin-bottom: 20px;
  margin-top: 20px;
}

#experiencesContainer img {
  margin-bottom: 30px;
}
p#expTitle {
  font-size: 22px;
}
#descriptions {
  margin-left: 25px;
}

#descriptions hr {
  color: rgb(153, 153, 153);
}

#descriptions #position {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}
#descriptions #school {
  font-size: 14px;
  margin-bottom: 1px;
}
#descriptions #duration {
  font-size: 14px;
  margin-bottom: 1px;
  color: rgb(156, 156, 156);
}

.expIcons {
  font-size: 28px;
  color: rgb(144, 144, 144);
}
.editIcon {
  font-size: 20px;
  color: rgb(144, 144, 144);
  margin-right: 3px;
}
#addBack {
  height: fit-content;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}
#addBack:hover {
  background-color: rgb(238, 238, 238);
  height: fit-content;
  padding: 4px;
  border-radius: 50%;
}
.editBack:hover {
  background-color: rgb(238, 238, 238);
  height: fit-content;
  border-radius: 50%;
  padding: 4px 4px 8px 8px;
}
.editBack {
  height: fit-content;
  border-radius: 50%;
  padding: 4px 4px 8px 8px;
  cursor: pointer;
  z-index: 2;
}

#skipChanges {
  position: absolute;
  right: 15px;
  bottom: 16px;
}
#deleteExp {
  position: absolute;
  left: 170px;
  bottom: 16px;
}

#modalBack {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 60%;
  z-index: 1000;
}

.bg-navbar {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
  box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.31);
}
.navbar-img-logo {
  height: 60px;
  margin-left: 150px;
}
.icons-navbar {
  font-size: 20px;
  color: rgb(97, 97, 97);
  margin-left: 6px;
  align-self: center;
}
.icons-navbar-dropdown {
  font-size: 20px;
  color: rgb(97, 97, 97);
  font-weight: 600;
}
.icons-navbar-network {
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-left: 22px;
  align-self: center;
}
.icons-navbar-messages {
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-left: 20px;
}
.icons-navbar-notifications {
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-left: 22px;
}
.icons-navbar-me {
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-left: 16px;
}
.icons-navbar-work {
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-left: 16px;
}

.navbar-rows-text {
  color: rgb(114, 114, 114);
  font-size: small;
  padding-top: 2px;
  text-decoration: none;
}
.navbar-rows-text-me {
  color: rgb(114, 114, 114);
  font-size: small;
  padding-top: 2px;
  text-decoration: none;
  margin-left: 5px;
}
.navbar-icons-alignment {
  margin-left: 120px;
}
.navbar-icons-container {
  margin-left: 30px;
  margin-left: 30px;
  padding: 10px;
}
.navbar-icons-container-jobs {
  margin-left: 30px;
  margin-left: 30px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-right-style: none;
  border-bottom-style: none;
}

.navbar-searching-style {
  border-left-style: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 0px;
  background-color: rgb(234, 234, 255);
}
.magnify-glass-navbar {
  border: 1px solid #ced4da;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 22px;
  border-right-style: none;
  padding-bottom: 3px;
  padding-left: 8px;
  background-color: rgb(234, 234, 255);
}
.navbar-searching-style:focus {
  color: black;
  border: 1px solid #ced4da;
  border-left-style: none;
  box-shadow: none !important;
  outline: none !important;
}

.footer-links {
  text-decoration: none;
  color: var(--cool-gray-70, #485d69);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33333;
}
.footer-main-row {
  /* position: fixed;
  bottom: 0; */
  left: 150px;
  right: 100px;

  margin-bottom: 15px;
}

.icon-footer-logo {
  padding: 0.95rem;
}
.footer-copyright {
  color: var(--cool-gray-70, #485d69);
  font-size: 12px;

  line-height: 1.33333;
  padding-left: 16px;
  padding-top: 10px;
}
.footer-links-language {
  color: var(--cool-gray-70, #485d69);
  font-size: 12px;
  line-height: 1.33333;
}
.icons-footer-style {
  font-size: 20px;
  color: #485d69;
}
.footer-links-icons {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.33333;
  text-decoration: none;
  color: var(--cool-gray-70, #485d69);
}
.footer-undertext {
  color: var(--cool-gray-70, #485d69);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
  padding-left: 20px;
}

#mainContent {
  padding-top: 110px;

  margin-bottom: 70px;
}
.modal-labels-text {
  padding-left: 6px;
  margin-top: 25px;
}
.feeds-main-container {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.feeds-user-image {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.feeds-profile-username-link {
  color: #000000;
  font-weight: 600;
  font-size: 1em;
  margin: 0px;
  margin-left: 15px;

  text-decoration: none;
}
.feeds-user-text {
  margin-left: 15px;
  font-size: 14px;
}
.feeds-icons {
  font-size: 18px;
  margin-bottom: 3px;
  margin-left: 10px;
  font-weight: 600;
  stroke: black;
  stroke-width: 12px;
}
.feeds-group-icons {
  margin-right: 10px;
  padding: 10px;
  color: #6c757d;
  transition: all 0.2s ease-in-out;
}
.feeds-group-icons-like {
  margin-right: 10px;
  padding: 10px;
  color: #6c757d;
  transition: all 0.2s ease-in-out;
}

.feeds-icons-bottom {
  font-size: 24px;
}
.text-comment {
  margin-left: 10px;
}
.feeds-like-reactions {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 30px;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  border-radius: 10px;
}
.feeds-group-icons-like:hover + .feeds-like-reactions {
  display: inline;
  background-color: white;
  border-radius: 15px;
  transform: scale(1);
}
.feeds-group-icons-like:hover {
  display: inline;
  background-color: whitesmoke;
  border-radius: 10px;
  transform: scale(1);
}

.feeds-group-icons:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  transform: scale(1);
  display: inline;
}
.feeds-main-dots {
  position: absolute;
  top: 30px;
  right: 70px;
  font-size: 30px;

  transition: all 0.2s ease-in-out;
}
.feeds-main-dots:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  transform: scale(1);
}
.feeds-heart-style {
  font-size: 25px;
}
.feeds-heart-hand-style {
  font-size: 25px;
  color: blue;
  stroke-width: 12px;
  margin-left: 20px;
}
.feeds-bulb-style {
  font-size: 30px;
  color: rgb(201, 201, 15);
  stroke-width: 12px;
  margin-left: 20px;
}
.feeds-hands-style {
  font-size: 30px;
  color: green;
  stroke-width: 12px;
  margin-left: 20px;
  margin-right: 10px;
}
.feeds-post-image {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 5%;
}
.home-main-container {
  margin-top: 65px;
}
