body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f3f2ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Beginning CSS Leonardo */

/* Lateral Profiles */

#lateral-profile-main-container {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #ffffff;
}

#lateral-profile-user-image {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#lateral-profile-section-title {
  font-size: 1.2em;
}

#lateral-profile-username {
  color: #000000;
  font-weight: 600;
  font-size: 1em;
  margin: 0px;
}
#lateral-profile-username-link {
  color: #000000;
  font-weight: 600;
  font-size: 1em;
  margin: 0px;
  padding-left: 1px;
}
#lateral-profile-username-link:hover {
  color: rgb(42, 42, 224);
}

#lateral-profile-user-title {
  color: #818181;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 0.7em;
}

#later-profile-follow-button {
  padding: 2px 24px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #1d1d1d;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 50px;
  background-color: transparent;
}

#lateral-profile-name-grade-separator {
  margin: 0px 10px;
}

#lateral-profile-info-box {
  margin-left: 20px;
}

/* End Lateral Profiles */

/* Feed Posts */

#feed-post-main-container {
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

#feed-post {
  margin-top: 0;
}

#feed-post-user-image {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 20px;
}

#feed-post-username {
  color: #000000;
  font-weight: 600;
  font-size: 0.9em;
  margin: 0px;
}
#feed-post-username-link {
  color: #000000;
  font-weight: 600;
  font-size: 1em;
  margin: 0px;
  padding-left: 1px;
}

#like-icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#like-icon {
  margin: 0px 10px;
}

#feed-post-img-banner {
  padding: 10px;
  background-color: #f5f8ff;
  margin-bottom: 10px;
}

#feed-post-img {
  width: 100%;
  max-height: 120px;
}

#feed-post-likes-bar {
  padding: 5px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* End Feed Posts */

/* End CSS Leonardo */
